.wrapper-submit {
    background-color: #4e9b89;
    padding: 20px;
}
.newsletter-submit__field {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    width: 540px;
    height: 60px;
    border: none;
    border-radius: 4px;
}