#carouselExampleFade {
    max-width: 1600px;
}
.prev-button {
    width: 105px;
    height: 105px;
    background-color: #4e9b89;
    font-size: 100px;
}
a.carousel-control-next {
    justify-content: flex-end;
}
a.carousel-control-prev {
    justify-content: flex-start;
}
